name: Package mesh_sampling
on:
  repository_dispatch:
    types:
    - package-master
    - package-release
  push:
    branches:
    - "**"
    tags:
    - v*
  pull_request:
    branches:
    - "**"
jobs:
  package:
    uses: jrl-umi3218/github-actions/.github/workflows/package-project.yml@master
    with:
      latest-cmake: true
      update-stable-and-head: true
      matrix: |
          {
            "dist": ["jammy", "noble"],
            "arch": ["amd64"]
          }
    secrets:
      CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
      GH_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
